<h1 mat-dialog-title>
  <mat-icon>bug_report</mat-icon> Unexpected error
</h1>
<div mat-dialog-content>
  <mat-icon color="warn">warning</mat-icon><mat-icon color="warn">warning</mat-icon><mat-icon color="warn">warning</mat-icon>
  <br/>
  <p>An unexpected error occurred.</p>
  <br/>
  <p>Details: {{ ErrorMessage }}</p>
  <br/>
  <mat-icon color="warn">warning</mat-icon><mat-icon color="warn">warning</mat-icon><mat-icon color="warn">warning</mat-icon>
</div>
<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]>Ok</button>
</div>
