form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

div.on-row * {
  margin-right: 12px;
}

span.badge-span {
  display: block;
}

mat-radio-button {
  margin-right: 12px;
}
