<h1 mat-dialog-title>Add new villain</h1>
<div mat-dialog-content>
  <form [formGroup]="villainForm" class="column-form">
    <mat-form-field>
      <input matInput id="villain-name" placeholder="Name" formControlName="villain">
    </mat-form-field>

    <mat-form-field>
      <input matInput id="villain-movie" placeholder="Movie" formControlName="movie">
    </mat-form-field>

    <mat-form-field>
      <input matInput id="villain-actor" placeholder="Actor" formControlName="actor">
    </mat-form-field>

    <mat-form-field>
      <input matInput id="villain-year" type="number" placeholder="Year" formControlName="year">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="cancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="add()" id="dialog-add-villain" [disabled]="!villainForm.valid">Add</button>
</div>
