<mat-card class="villain-card">
  <mat-card-header>
    <div mat-card-avatar class="bond-avatar-image"></div>
    <mat-card-title>James Bond Movie Villains</mat-card-title>
    <mat-card-subtitle><img
      src="https://www.cypress.io/static/33498b5f95008093f5f94467c61d20ab/c0bf4/cypress-logo.webp"
      height="12px"
    />&nbsp;&nbsp; demo site</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <br />
    <app-villain-list [villains]="villains$"> </app-villain-list>

    <br/>
    <button mat-raised-button (click)="addVillain(0)" id="add-villain">Add Villain</button>

    <button mat-raised-button (click)="cacheReload()">Reload from cache</button>
    <button mat-raised-button (click)="quickReload()">Reload 0 ms</button>
    <button mat-raised-button (click)="slowReload(100)">Reload 100 ms</button>
    <button mat-raised-button (click)="slowReload(1000)">Reload 1000 ms</button>
    <button mat-raised-button (click)="backgroundRequest()">
      Background request
    </button>
  </mat-card-content>
</mat-card>

