    <app-villain-list [villains]="villains$"> </app-villain-list>

    <br/>
    <button mat-raised-button [routerLink]="'/AddVillain'">Add Villain</button>

    <button mat-raised-button (click)="cacheReload()">Reload from cache</button>
    <button mat-raised-button (click)="quickReload()">Reload 0 ms</button>
    <button mat-raised-button (click)="slowReload(100)">Reload 100 ms</button>
    <button mat-raised-button (click)="slowReload(1000)">Reload 1000 ms</button>
    <button mat-raised-button (click)="backgroundRequest()">
      Background request
    </button>
