<form>
  <div class="on-row">
    <button mat-raised-button type="button">A</button>
    <button mat-raised-button type="button">B</button>
    <button mat-raised-button type="button">C</button>
    <button mat-raised-button type="button">D</button>
  </div>
  <br/>

  <mat-form-field>
    <mat-label>First name</mat-label>
    <input matInput id="first-name" value="Zaphod">
  </mat-form-field>

  <div class="on-row">
    <button mat-raised-button color="primary" type="button" class="save-button" id="save-button">Save</button>
  </div>
</form>
